{% extends 'ecommerce/base.html' %}
{% load static %}

{% block content %}

<!-- Page Content -->
    <!-- About Page Starts Here -->
    <div class="contact-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Contact Us</h1>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-md-12 col-lg-6 img-cover">
              <img class="img-item-1" src="{% static 'images/contact.jpg' %}" alt="">
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="right-content">
                <div class="container">
                  <form id="contact" action="" method="post">
                    <div class="row">
                      <div class="col-md-6">
                        <fieldset>
                          <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                        </fieldset>
                      </div>
                      <div class="col-md-6">
                        <fieldset>
                          <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <fieldset>
                          <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <fieldset>
                          <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="button">Send Message</button>
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <div class="share">
                          <h6>You can also keep in touch on: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          
          
        </div>
      </div>
    </div>
    <!-- About Page Ends Here -->
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/flex-slider.js' %}"></script>

{% endblock %}




